{% extends 'base.html.twig' %}

{% block content %}
    <div class="row mt-3">
        <div class="col-md-12 mt-3">
            <h2>Show</h2>
        </div>
        <div class="col-md-12">
            <div class="row pt-3">
                <div class="col-lg-7">
                    <div class="card mb-3">
                        <div class="card-header">
                            Comments
                        </div>
                        <div class="card-body">
                            {% if blog.comments|length > 0 %}
                            {% for comment in blog.comments %}
                                <div class="alert alert-secondary">
                                    {{ comment.author }}: {{ comment.comment }}
                                </div>
                            {% endfor %}
                            {% else %}
                                <div class="alert alert-warning">
                                    <i class="fa fa-comments"></i> No comments were found.
                                </div>
                            {% endif %}

                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">
                            Stream
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Datum</th>
                                    <th scope="col">Event</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for event in stream %}
                                    <tr>
                                        <td>
                                            {{ event.recordedAt|date("d-m-Y") }}
                                        </td>
                                        <td>
                                            {{ event.event.type.value|e }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-header">
                            <strong>New comment</strong>
                        </div>
                        <div class="card-body">
                            <form action="{{ path('comment-create') }}" class="form-horizontal"  method="POST">
                                <div class="form-group">
                                    <textarea name="form[comment]" required="required" class="form-control"></textarea>
                                    <small id="nameHelp" class="form-text text-muted">Please insert a small comment.</small>
                                </div>
                                <div class="form-group">
                                    <label>Author</label>
                                    <select class="browser-default custom-select" name="form[user]">
                                        {% for user in users %}
                                            <option value="{{ user.id }}">{{ user.name|e }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    <input type="hidden" name="form[blog]" value="{{ blog.id|e }}" />
                                    <i class="fa fa-plus"></i> Create Comment
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

