{% extends 'base.html.twig' %}

{% block content %}
    <div class="row mt-3">
        <div class="col-md-12 mt-3">
            <h2>Edit user</h2>
        </div>
        <div class="col-md-12">
            <div class="row pt-3">
                <div class="col-lg-7">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">E-Mail</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.name|e }}</td>
                                <td>{{ user.mail|e }}</td>
                                <td>
                                    <button class="btn btn-outline-warning btn-sm">
                                        <i class="fa fa-edit"></i> Edit
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-body">
                            <form action="{{ path('user-update') }}" class="form-horizontal"  method="POST">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="string" name="form[name]" value="{{ currentUser.name|e }}" required="required" class="form-control" />
                                    <small id="nameHelp" class="form-text text-muted">We'll never share your employee with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label>Mail</label>
                                    <input type="mail" name="form[mail]" value="{{ currentUser.mail|e }}" required="required" class="form-control" />
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    <input type="hidden" name="form[stream]" value="{{ currentUser.stream|e }}" />
                                    <i class="fa fa-plus"></i> Update User
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}